/* bulma customisation */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */

  }

.is-paddingless-horizontal { padding-left: 0; padding-right: 0; }
.is-paddingless-vertical { padding-top: 0; padding-bottom: 0; }
.is-paddingless-three { padding-left: 0; padding-right: 0; padding-bottom: 0;}

.imagehdr {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.vertical {
  padding-top: 35px;
}

.is-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

